@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  font-family: Quicksand;
  color: #333;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid #f1f1f1;
}

.links {
  margin-left: auto;
  padding: 10px 16px;
}

.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

.links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.links a:hover {
  color: #f1356d;
}

h1 {
  margin: 10px;
  color: #f06;
}

.blog-preview {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.blog-preview span {
  float: right;
  
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px #000;
  cursor: pointer;
}